Source: unity-scopes-api
Priority: optional
Maintainer: Ubuntu Developers <ubuntu-devel-discuss@lists.ubuntu.com>
Build-Depends: capnproto,
               click-dev (>= 0.2.2),
               cmake,
               dbus-test-runner,
               debhelper (>= 9),
               doxygen,
# We rely on C++11 features, and to prevent from ABI breaks
# in libstdc++ causing us issues, we explicitly select a G++
# version. To allow cross-compiling to work, we also must
# append :native to g++-4.9 so we don't try to run armhf g++
# on an x86 CPU for example, when cross-compiling.
               g++-4.9:native,
               google-mock,
               graphviz,
               libaccounts-glib-dev,
               libapparmor-dev,
               libboost-filesystem-dev,
               libboost-log-dev,
               libboost-regex-dev,
               libboost-serialization-dev,
               libcapnp-dev (>= 0.4.0),
               libdbustest1-dev,
               libjsoncpp-dev,
               liblttng-ust-dev,
               libnet-cpp-dev,
               libprocess-cpp-dev (>= 1.0.1),
               libsignon-glib-dev,
               libunity-api-dev (>= 7.80.7~),
               libzmq3-dev,
               libzmqpp-dev,
               lttng-tools,
               pkg-config,
               python3:any,
               valgrind,
Standards-Version: 3.9.5
XS-Testsuite: autopkgtest
Section: libs
Homepage: https://launchpad.net/unity-scopes-api
# if you don't have have commit access to this branch but would like to upload
# directly to Ubuntu, don't worry: your changes will be merged back into the
# upstream branch
Vcs-Bzr: lp:unity-scopes-api
Vcs-Browser: https://code.launchpad.net/unity-scopes-api

Package: libunity-scopes3
Architecture: any
Multi-Arch: same
Pre-Depends: ${misc:Pre-Depends},
Depends: ${misc:Depends},
         ${shlibs:Depends},
Replaces: libunity-scopes0,
          libunity-scopes1,
          libunity-scopes2,
Conflicts: libunity-scopes0,
           libunity-scopes1,
           libunity-scopes2,
Description: API for Unity scopes integration
 Library to integrate scopes with the Unity shell

Package: libunity-scopes-dev
Section: libdevel
Architecture: any
Multi-Arch: same
Pre-Depends: ${misc:Pre-Depends},
Depends: libproperties-cpp-dev,
         libunity-api-dev,
         libunity-scopes3 (= ${binary:Version}),
         ${misc:Depends},
Description: Header files for Unity scopes API
 Library to integrate scopes with the Unity shell (dev files)

Package: libunity-scopes-cli
Section: devel
Architecture: any
Multi-Arch: foreign
Pre-Depends: ${misc:Pre-Depends},
Depends: libunity-scopes3 (= ${binary:Version}),
         ${misc:Depends},
         ${shlibs:Depends},
Description: Client utility for Unity scopes API
 Commandline client utility for querying Unity scopes, useful for testing.

Package: libunity-scopes-doc
Section: doc
Architecture: all
Multi-Arch: foreign
Depends: ${misc:Depends},
Description: Documentation for Unity scopes API
 Library to integrate scopes with the Unity shell (documentation)
