#!/usr/bin/make -f
# -*- makefile -*-

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1
export DPKG_GENSYMBOLS_CHECK_LEVEL=4

%:
	dh $@ --parallel --fail-missing

override_dh_auto_configure:
	dh_auto_configure -- -DLIBDIR=/usr/lib/$(DEB_HOST_MULTIARCH)

# Tests are not written to be run in parallel.
override_dh_auto_test:
	dh_auto_test --max-parallel=1 -- ARGS="--verbose"

override_dh_click:
	dh_click --name unity-scope
